@import "/src/styles.scss";

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.login-box {
  margin: auto;
  padding: 50px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 4px gray;

  mat-form-field {
    width: 100%;
  }

  button {
    width: 50%;
    margin: 0 auto;
  }
}
