<div class="container">
  <div class="login-box">
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" required>
        <mat-error *ngIf="isFieldInvalid('username')">
          Please inform your user name
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="isFieldInvalid('password')">
          Please inform your password
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="hasLoginFailed">
        Username or password is not correct
      </mat-error>
      <button mat-raised-button color="primary">Login</button>
    </form>
  </div>
</div>
